
.navbar{
    width: 100%;
    height: 50px;
    background-color: #e3f2fd;
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
.nav{
    display: grid;
    grid-template-columns: 1fr;
}
.nav-link{
    padding: 15px 5px 5px 20px;
}